@CHARSET "UTF-8";

@media (min-width: 768px) {
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}

	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand {
	padding-top: 12px;
}

.icone-menu {
	height: 35px;
	width: 35px;
}

.td-link-panel {
    float: right;
    padding: 0px;
}

.td-titulo-panel {
    float: left;
    padding-top: 2px;
}