<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> <img alt="Kesteregg"
                                                       src="/img/kesteregg.png" class="icone-menu"></img>
                </a>
            </div>
        </div>
    </nav>

</html>